[submodule "src/pca9685"]
	path = src/pca9685
	url = https://github.com/OliverP10/pca9685
[submodule "src/mdd3a"]
	path = src/mdd3a
	url = https://github.com/OliverP10/mdd3a
[submodule "src/nrf24l01"]
	path = src/nrf24l01
	url = https://github.com/OliverP10/nrf24l01
