<launch>
    <rosparam param="/rosout/log_level">debug</rosparam>
    <node pkg="control" type="control_node.py" name="control_node" output="screen"></node>
    <node pkg="control" type="nrf24l01_node.py" name="nrf24l01_node" output="screen"></node>
    <node pkg="control" type="socket_io_node.py" name="socket_io_node" output="screen"></node>
</launch>